<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serviceBufferedReader" class="ru.itsjava.service.ServiceMenuImpl"/>

    <bean id="serviceScanner" class="ru.itsjava.service.ServiceScannerImpl"/>

    <bean id="serviceCoffee" class="ru.itsjava.service.ServiceCoffeeImpl">
        <constructor-arg ref="serviceBufferedReader"/>
        <constructor-arg ref="serviceScanner"/>
    </bean>

</beans>